@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background: hwb(206 95% 3%);
    color: hsl(209, 61%, 16%);
    line-height: 1.5;
    font-size: 1rem;
}

.res-container{
padding: 20px;
margin: 20px;
max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: aliceblue;
    justify-items: center;
}

.res-card{
    transition: transform 0.3s ease; /* Smooth transition for the transform */
    position: relative;
}
.res-card:hover {
    transform: scale(0.95); /* Shrinks the image on hover */
    cursor: pointer;
}

/* Designing the image and the text on it */

.image img{
    height: 150px;
    width: 250px;
    border-radius: 0.5rem;
    transition: transform 0.3s ease; /* Smooth transition for the transform */
    position: relative;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);

}

.image-txt{
    
    position: absolute;
    bottom: 115px;
    left: 10px;
    color: white;
}
/*******************************************************/


/* DESIGNING THE Li inside of .rating */
.rating {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex;
  }

  .rating ul{
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .rating-image {
    position: relative;
    padding-left: 1.5rem; 
  }
  
  .rating-image::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem; /* Width of the image */
    height: 1rem; /* Height of the image */
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbN8ySLAq6yOeWNYX-iZunjVKIMLNgPSY8Hg&s'); 
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .rating-time {
    margin-left: 0.5rem; 
    list-style-type: disc;
    text-align: right;
    list-style-position: inside;

  }

  /**********************************************/

  .res-name{
    margin: 10px 10px 10px 0;
  }

  .cuisine{
    color: rgb(135, 137, 139);
    font-weight: normal;
    margin-top: 10px;
  }